absl-py==1.2.0
aiohttp==3.8.3
aiohttp-cors==0.7.0
aiorwlock==1.3.0
aiosignal==1.2.0
alembic==1.8.1
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==4.1.0
blessed==1.19.1
blinker==1.5
Bottleneck==1.3.4
branca==0.5.0
brotlipy==0.7.0
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.9.24
cffi==1.15.0
charset-normalizer==2.0.4
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.1.0
colorama==0.4.5
colorful==0.5.4
colorlover==0.3.0
commonmark==0.9.1
confection==0.0.1
cryptography==37.0.1
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
distlib==0.3.6
dm-reverb==0.9.0
dm-tree==0.1.7
entrypoints==0.4
etils==0.8.0
executing==0.8.3
Faker==15.3.2
fastapi==0.85.0
fastjsonschema==2.15.1
filelock==3.8.0
Fiona==1.8.21
Flask==2.2.2
flatbuffers==1.12
fonttools==4.33.3
frozenlist==1.3.1
future==0.18.2
gin-config==0.5.0
gitdb==4.0.9
GitPython==3.1.28
gpustat==1.0.0
graphistry==0.25.2
graphviz==0.20.1
greenlet==1.1.3
grpcio==1.43.0
htmlmin==0.1.12
httplib2==0.20.4
huggingface-hub==0.9.1
hyperopt==0.2.5
idna==3.3
ImageHash==4.2.1
imageio==2.20.0
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==4.12.0
importlib-resources==5.9.0
iniconfig==1.1.1
ipykernel==6.9.1
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaggle==1.5.12
kiwisolver==1.4.3
langcodes==3.3.0
libclang==14.0.6
lightgbm==3.3.2
lime==0.2.0.1
llvmlite==0.38.1
lxml==4.9.1
Mako==1.2.3
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.1
mlflow==1.29.0
msgpack==1.0.4
nltk==3.7
notebook==6.4.11
numba==0.55.2
numdifftools==0.9.41
numpy==1.21.3
pandas==1.4.2
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==9.1.1
querystring-parser==1.2.4
ray==2.0.0
regex==2022.8.17
requests==2.27.1
requests-oauthlib==1.3.1
rich==12.6.0
rlds==0.1.5
rsa==4.9
sacrebleu==2.2.1
scikit-image==0.19.3
scikit-learn==1.1.3
scikit-posthocs==0.7.0
scipy==1.7.3
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
shap==0.39.0
shap-hypetune==0.2.6
Shapely==1.8.2
sklearn==0.0
SQLAlchemy==1.4.41
sqlparse==0.4.3
squarify==0.4.3
streamlit==1.13.0
testpath==0.6.0
text-unidecode==1.3
uuid==1.30
uvicorn==0.16.0
zipp==3.8.1
