absl-py==1.2.0
aiohttp==3.8.3
aiohttp-cors==0.7.0
aiorwlock==1.3.0
aiosignal==1.2.0
alembic==1.8.1
altair==4.2.0
anyio==3.6.1
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569679365/work
asgiref==3.5.2
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout==4.0.2
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blessed==1.19.1
blinker==1.5
blis==0.7.8
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1648028898966/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1650311966802/work
brotlipy==0.7.0
cachetools==5.2.0
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1661366513493/work
certifi==2022.9.14
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1645238100595/work
click-plugins==1.1.1
cligj==0.7.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1653061851209/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
colorful==0.5.4
colorlover==0.3.0
commonmark==0.9.1
confection==0.0.1
cryptography @ file:///tmp/build/80754af9/cryptography_1652101588893/work
cufflinks==0.17.3
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1649412201293/work
Cython==0.29.32
databricks-cli==0.17.3
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///tmp/build/80754af9/debugpy_1637091799509/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.3.5.1
distlib==0.3.6
dm-reverb==0.9.0
dm-tree==0.1.7
docker==6.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926439650/work
etils==0.8.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi==0.85.0
fastjsonschema @ file:///tmp/build/80754af9/python-fastjsonschema_1620414857593/work/dist
filelock==3.8.0
Fiona==1.8.21
Flask==2.2.2
flatbuffers==1.12
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1651017733844/work
frozenlist==1.3.1
gast==0.4.0
gensim==4.2.0
geopandas==0.11.0
gin-config==0.5.0
gitdb==4.0.9
GitPython==3.1.28
google-api-core==2.10.1
google-api-python-client==2.61.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
gpustat==1.0.0
graphistry @ file:///home/conda/feedstock_root/build_artifacts/graphistry_1652660783210/work
graphviz==0.20.1
greenlet==1.1.3
grpcio==1.43.0
gunicorn==20.1.0
gym==0.23.0
gym-notices==0.0.8
h11==0.14.0
h5py==3.7.0
htmlmin==0.1.12
httplib2==0.20.4
huggingface-hub==0.9.1
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
ImageHash==4.2.1
imageio==2.20.0
importlib-metadata==4.12.0
importlib-resources==5.9.0
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1647000773790/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///opt/conda/conda-bld/ipython_1651600145335/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
itsdangerous==2.1.2
jedi @ file:///tmp/build/80754af9/jedi_1644297102865/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
jsonschema @ file:///tmp/build/80754af9/jsonschema_1650025953207/work
jupyter @ file:///tmp/build/80754af9/jupyter_1607700846274/work
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1650622202839/work
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-core @ file:///opt/conda/conda-bld/jupyter_core_1651671229925/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
kaggle==1.5.12
keras==2.9.0
keras-nlp==0.3.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
libclang==14.0.6
lightgbm==3.3.2
lime==0.2.0.1
llvmlite==0.38.1
lxml==4.9.1
Mako==1.2.3
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
Markdown==3.4.1
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1647441664166/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
missingno==0.5.1
mistune @ file:///tmp/build/80754af9/mistune_1607364877025/work
mkl-service==2.4.0
mlflow==1.29.0
msgpack==1.0.4
multidict==6.0.2
multimethod==1.8
munch==2.5.0
munkres==1.1.4
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/murmurhash_1660630070119/work
nbclient @ file:///tmp/build/80754af9/nbclient_1650290509967/work
nbconvert @ file:///opt/conda/conda-bld/nbconvert_1649751911790/work
nbformat @ file:///tmp/build/80754af9/nbformat_1649826788557/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847906199/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1655215393654/work
nltk==3.7
notebook @ file:///opt/conda/conda-bld/notebook_1651734535442/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1655473307261/work
numexpr @ file:///tmp/build/80754af9/numexpr_1640689830538/work
numpy==1.21.3
nvidia-ml-py==11.495.46
oauth2client==4.1.3
oauthlib==3.2.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencensus==0.11.0
opencensus-context==0.1.3
opencv-contrib-python==4.5.4.58
opencv-python-headless==4.6.0.66
opt-einsum==3.3.0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandarallel==1.6.3
pandas==1.4.2
pandas-profiling==3.2.0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1656568808184/work
patsy==0.5.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phik==0.12.2
pickle-mixin==1.0.2
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.1.1
platformdirs==2.5.2
plotly @ file:///opt/conda/envs/env/conda-bld/plotly_1654874125012/work/packages/python/plotly/dist/plotly-5.8.2.tar.gz
pluggy @ file:///tmp/build/80754af9/pluggy_1648024445381/work
portalocker==2.5.1
portpicker==1.5.2
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1660601814003/work
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prometheus-flask-exporter==0.20.3
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.20.3
psutil==5.9.1
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py @ file:///opt/conda/conda-bld/py_1644396412707/work
py-cpuinfo==8.0.0
py-spy==0.3.14
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.5
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1662443083419/work
pydeck==0.8.0b3
pydot==1.4.2
pygame==2.1.0
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyJWT==2.5.0
Pympler==1.0.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyproj==3.3.1
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110951836/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pytest==7.1.2
pytest-runner @ file:///tmp/build/80754af9/pytest-runner_1623663836848/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-slugify==6.1.2
pytz @ file:///opt/conda/conda-bld/pytz_1654762638606/work
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
PyYAML==5.4.1
pyzmq @ file:///tmp/build/80754af9/pyzmq_1638434985866/work
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1649078897110/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1649073884068/work
querystring-parser==1.2.4
ray==2.0.0
regex==2022.8.17
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.1
rich==12.6.0
rlds==0.1.5
rsa==4.9
sacrebleu==2.2.1
scikit-image==0.19.3
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1635187048948/work
scikit-posthocs @ file:///home/conda/feedstock_root/build_artifacts/scikit-posthocs_1652033583557/work
scipy @ file:///tmp/build/80754af9/scipy_1641555002955/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
semver==2.13.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentencepiece==0.1.97
seqeval==1.2.2
shap @ file:///tmp/build/80754af9/shap_1633430395245/work
Shapely==1.8.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1659638615822/work
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1608146800664/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smmap==5.0.0
sniffio==1.3.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
spacy @ file:///opt/conda/conda-bld/spacy_1656601313568/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1661365735520/work
SQLAlchemy==1.4.41
sqlparse==0.4.3
squarify==0.4.3
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1658344395284/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.20.4
statsmodels @ file:///tmp/build/80754af9/statsmodels_1614022848006/work
streamlit==1.13.0
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
tenacity @ file:///tmp/build/80754af9/tenacity_1626248292117/work
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1

termcolor==1.1.0
terminado @ file:///tmp/build/80754af9/terminado_1644322582718/work
testpath @ file:///opt/conda/conda-bld/testpath_1655908557405/work
text-unidecode==1.3
tf-agents==0.14.0
tf-models-official==2.7.0
tf-slim==1.1.0
thinc==8.0.17
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2022.5.4
tokenizers==0.12.1
toml==0.10.2
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
toolz==0.12.0
tornado @ file:///tmp/build/80754af9/tornado_1606942317143/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
transformers==4.21.3
typeguard==2.13.3
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
tzdata==2022.4
tzlocal==4.2
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1649111919389/work
uritemplate==4.1.1
urllib3 @ file:///opt/conda/conda-bld/urllib3_1650639997961/work
uvicorn==0.16.0
validators==0.20.0
virtualenv==20.16.5
visions==0.7.4
wasabi==0.10.1
watchdog==2.1.9
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.2.2
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1644992802045/work
wordcloud==1.8.2.2
wrapt==1.14.1
yarl==1.8.1
yellowbrick==1.3
zipp==3.8.1
